// scss > work > style
@use '@scss/common/variables.scss' as var;

.top{
    .caption{
        font-size:3rem;
        padding-bottom:1rem;
    }
    .url{
        display:inline-block;
        font-size:1.8rem;
        line-height:1.35;
        color:#616161;
        &:hover{
            color:var.$theme;
            text-decoration:underline
        }
    }
    .category{
        @include var.flex(center);
        font-size:1.4rem;
        color:#696969;
        @include var.fontWeight(500);
        span{
            margin:0 1rem
        }
    }
    .ts-up{
        transform:translateY(5rem);
        opacity:0;
        animation:from-bottom-fade 0.8s ease 0.2s forwards
    }
    @include var.custom(768px){
        .url{
            font-size:2rem;
            color:var.$theme
        }
        .category{
            font-size:1.8rem
        }
    }
}

.view{
    background:#fff;
    .view_img{
        max-width:1920px;
        text-align:center;
        margin:0 auto;
        opacity:0;
        transform:translateY(5rem);
        animation:from-bottom-fade 0.8s ease 0.6s forwards
    }
    video{
        max-width:100%
    }
}

.detail{
    .overview{
        max-width:700px;
        margin:0 auto
    }
    dl{
        padding-bottom:4rem
    }
    dt{
        font-size:3rem;
        letter-spacing:-0.1rem;
        margin-bottom:2.4rem;
        @include var.fontWeight(550)
    }
    dd{
        font-size:2rem;
        color:#616161;
        line-height:1.3;
        @include var.fontWeight(300)
    }
}