$theme:#ED6075;
$dark:#464646;
$light:#f3f7fb;
$dblue:#2F4858;

$tablet:1200px;
$mobile:768px;
$landscape:500px;

@mixin absDefault($top:0, $left:0){
    position:absolute;
    top:$top;
    left:$left
}

@mixin flex($w:flex-start, $h:flex-start, $wrap:wrap, $dir:row){
    display:flex;
    justify-content:$w;
    align-items: $h;
    flex-flow:$dir $wrap
}

@mixin flexDefault(){
    @include flex(space-between, center)
}

@mixin circle($r){
    width:$r;
    height:$r;
    border-radius:50%
}

@mixin fontWeight($w){
    font-variation-settings:'wght' $w
}

@mixin setFont($size, $w:400){
    font-size:$size;
    @include fontWeight($w)
}

@mixin pseudo($w, $h, $type:position){
    content:"";
    @if($type == position){
        position:absolute
    } @else if($type == block){
        display:block
    }
    width:$w;
    height:$h
}

@mixin custom($width, $minmax:max){
    @if($minmax == max){
        @media (max-width:$width){
            @content
        }
    } @else{
        @media (min-width:$width){
            @content
        }
    }
}


@keyframes fade{
    to{
        transform:scale(1) translate(0);
        opacity:1
    }
}
@keyframes bounce{
    to{
        transform:translateY(-16px)
    }
}