// scss > index > style
@use '@scss/common/variables' as var;

.list{
    .container{
        padding-top:9rem
    }
    .sort_menu{
        @include var.flex();
        @include var.fontWeight(600);
        position:sticky;
        top:6.4rem;
        background:#f7f7f7;
        color:#696969;
        padding:2.4rem 0;
        z-index:2;
        li{
            margin-right:4px;
            &:hover{
                color:#494949;
                button::before{
                    opacity:0.5
                }
            }
            &.on{
                color:#272727;
                button::before{
                    opacity:1
                }
            }
        }
        @include var.custom(500px){
            top:8rem
        }
        @include var.custom(450px){
            font-size:2.4rem
        }
    }
    .grid{
        position:relative;
        overflow:hidden;
        .item{
            position:absolute;
            .thumnail{
                width:100%;
                height:22.2rem;
                border-radius:1.5rem;
                overflow:hidden;
                filter:grayscale(1);
                @include var.transitionDefault(filter, 0.4s);
                img{
                    @include var.wide();
                    object-fit:cover
                }
            }
            .info{
                padding:2.4rem 1.6rem 0.8rem;
                @include var.fontWeight(450);
                font-family:'pre';
                opacity:0.5;
                white-space:nowrap;
                @include var.transitionDefault(opacity, 0.4s)
            }
            .name{
                font-size:2.2rem;
                padding:0.8rem 0 1.6rem;
                @include var.fontWeight(500)
            }
            .category{
                font-size:1.4rem;
                color:#696969;
                font-family:'mont'
            }
        }
        a{
            position:relative;
            display:block;
            @include var.wide();
            padding:1.2rem;
            opacity:0;
            transform:translateY(50px);
            z-index:1;
            &::before{
                @include var.pseudo(100%, 100%);
                top:0;
                left:0;
                border-radius:2rem;
                background:#e3e3e3;
                opacity:0.3;
                @include var.transitionDefault(opacity, 0.2s);
                z-index:-1
            }
            &:hover{
                &:before{
                    opacity:1
                }
                .thumnail{
                    filter:grayscale(0)
                }
                .info{
                    opacity:1
                }
            }
        }
        @include var.custom(1200px){
            .item{
                .thumnail{
                    filter:grayscale(0)
                }
                .info{
                    opacity:1
                }
            }
        }
        @include var.custom(450px){
            .item{
                .thumnail{
                    height:38rem
                }
                .caption{
                    font-size:2.4rem
                }
                .name{
                    font-size:4rem;
                    padding:1rem 0 2rem
                }
                .category{
                    font-size:2rem
                }
            }
            a{
                padding:3rem 2rem
            }
        }
    }
}